.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2f2f2f;
    padding: 12px 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.Owner_Logo {
    width: 55px;
    height: auto;
    border-radius: 6px;
    border: none;
}


.brand-name {
    color: #f5e6c8;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-links a {
    color: #f5f5f5;
    margin-left: 25px;
    text-decoration: none;
    font-size: 15px;
    position: relative;
}

.nav-links a:hover {
    color: #caa45e;
}

.login-btn {
    background: #7a1f1f;
    padding: 6px 14px;
    border-radius: 20px;
}

.login-btn:hover {
    background: #a52a2a;
    color: white;
}
